*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background: whitesmoke;
}

.info {
  padding: 20px;
  position: fixed;
  right: 1750px;
  height: 100%;
}

.text {
  color: white;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  writing-mode: vertical-rl;
}

@keyframes slide-down-up {
  0% {
    transform: translateY(110%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.animate-slide-down-up {
  animation: slide-down-up 10s linear infinite;
}


header{
  position: fixed; 
  padding-top: 50px;
  right: 20px;
  height: 107%;
  width: 120px;
}


li{
  margin-top: 20px;
  padding: 40px;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  writing-mode: vertical-lr;
  text-decoration: none;
  list-style: none;
}



@keyframes header{
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
a{
  color: whitesmoke;
  text-decoration: none;
}

.toritto{
  width: 110%;
  margin-top: 40px;
  margin-bottom: 70px;
  transform: rotate(90deg);
}

a:hover{
  opacity: 50%;
}

img:hover{
  opacity: 50%;
}

.font{
  font-size: 150px;
  font-family: Helvetica, sans-serif ;
  font-weight: bold;
  line-height: 0.8;
}


.color-font {
  color: white;
  background-color: #316CF4;
  font-size: 110px;
  
}

.fade-out {
  animation: fadeOut 1s;
}

.hover img:hover {
  opacity: 1;
}

.img-zoom {
  transition: transform .5s ease;
}
.img-zoom:hover {
  transform: scale(1.1);
  opacity: 1;
}

.img-hover:hover{
  opacity: 1;
}



@keyframes zoomInOut {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}


@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 1594px) {

  

  .banner{
    margin-top: 125px;
  }

  .space{
    margin-top: 100px;
  }
  header{
    position:absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 5%;
    right: 0px;
    left: 0px;
    height: 13%;
    width: 100%;
  }

  li{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    writing-mode: horizontal-tb;
  }

  .toritto{
    width: 60px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    transform: rotate(0deg);
  }

}

@media (max-width: 767px){

  .info {
    display: none;
  }
  
  .text {
    display: none;
  }
  

  @keyframes slide-down-up {
    0% {
      transform: translateY(110%);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 1;
    }
  }
  .font{
    font-size: 60px;
    line-height: 1;
    text-align: center;
  }
  .color-font{
    font-size: 70px;
  }
}

