* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: whitesmoke;
}

.text {
  color: white;
  font-size: 30px;
  font-family: "Press Start 2P", cursive;
  writing-mode: vertical-lr;
}

@keyframes slide-down-up {
  0% {
    transform: translateY(110%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.animate-slide-down-up {
  animation: slide-down-up 10s linear infinite;
}

.info {
  padding: 10px;
  position: fixed;
  right: 70px;
  height: 100%;
}

header {
  position: fixed;
  padding-top: 50px;
  right: 1750px;
  height: 107%;
  width: 120px;
}

li {
  margin-top: 20px;
  padding: 40px;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  writing-mode: vertical-lr;
  text-decoration: none;
  list-style: none;
  transform: rotate(180deg);
}

@keyframes header {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.toritto {
  width: 110%;
  margin-top: 40px;
  margin-bottom: 50px;
  padding-right: 10px;
  transform: rotate(70deg);
}

a:hover {
  opacity: 50%;
}

img:hover {
  opacity: 50%;
}

.font {
  font-size: 150px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  line-height: 0.8;
}

.color-font {
  color: white;
  background-color: #0d6efd;
  font-size: 110px;
}

.fade-out {
  animation: fadeOut 1s;
}

.hover img:hover {
  opacity: 1;
}

.img-zoom {
  transition: transform 0.5s ease;
}
.img-zoom:hover {
  transform: scale(1.02);
  opacity: 1;
}

.img-hover:hover {
  opacity: 1;
}

@keyframes zoomInOut {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1670px) {
  .info {
    display: none;
  }

  .text {
    display: none;
  }

  .banner {
    margin-top: 125px;
  }

  .space {
    margin-top: 200px;
  }
  header {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-right: 0px;
    padding-left:50px;
    right: 0px;
    left: 0px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  li {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    line-height: 25px;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }

  .toritto {
    width: 110px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    transform: rotate(15deg);
  }
}

@media (max-width: 1314px) {
  .info {
    display: none;
  }

  .text {
    display: none;
  }

  @keyframes slide-down-up {
    0% {
      transform: translateY(110%);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 1;
    }
  }
  .font {
    font-size: 60px;
    line-height: 1;
    text-align: center;
  }
  .color-font {
    font-size: 70px;
  }

  .carouseltext{
    font-size: 13px;
  }
}
